.category {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.categories {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;

	&__list {
		display: flex;
		margin-top: 100px;
		margin-bottom: 40px;
	}

	&__item {
		list-style-type: none;
		padding: 5px;

		a {
			text-decoration: none;
			padding: 10px 20px;
			background-color: #302219;
			color: white;
		}
	}
}
