* {
	margin: 0;
	padding: 0;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero {
	width: 100%;
	height: 600px;
	background-image: url(../../assets/home.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&__text {
		width: 40%;
		position: relative;
		text-align: center;
		font-size: 42px;
		color: white;
	}

	&__button {
		background-color: #302219;
		color: white;
		padding: 10px 50px;
		border: none;
		border-radius: 5px;
		font-size: 16px;
		cursor: pointer;
		box-shadow: 0 4px 8px 0 #1f1610(0, 0, 0, 0.2);
		transition: 0.3s;
		margin-top: 20px;
	}
}

.sale {
	width: 100%;
	display: flex;

	&__img-2 {
		width: 50%;
		height: 400px;
		background-image: url('../../assets/dukning-3.png');
		background-size: cover;
		background-repeat: no-repeat;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h3 {
			font-size: 42px;
			color: white;
			padding-bottom: 20px;
		}

		a {
			color: white;
			font-size: 18px;
			text-transform: uppercase;
		}
	}

	&__img-3 {
		width: 50%;
		height: 400px;
		background-color: rgb(241, 238, 234);

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		p {
			font-size: 28px;
			font-weight: lighter;
		}

		h3 {
			font-size: 56px;
			padding: 20px;
			font-weight: normal;
		}
	}
}

.footer {
	height: 300px;
	background-color: #515151;
}

.news {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
